<div class="container" style="font-family:courier;">
    <div class="row">
        <div class="col s12">
            <h4 style="font-family:courier;font-weight: bold;">Favorite Menu Blog</h4> 
                  
            <% if (recipes.length > 0) { %> 
                <% recipes.forEach(function(s) { %>
                    <img style="width:300px;height:300px;margin: 50px;" src="<%= s.imgUrl %>" alt="">
                    <img style="width:300px;height:300px;margin: 50px;" src="<%= s.imgOneUrl %>" alt="">
                    <p><%= s.title %></p>
                    <p><%= s.titleOne %></p>
                    <p><%= s.measure %></p>
                    <p><%= s.ingredient %></p>
                    <p><%= s.instruction %></p>
                    <% s.comments.forEach(c => { %> 
                    <div style="color: red;">
                        <p><%= c.content%></p>
                        </br>
                        
                    </div>
                    <% }) %>
                    <div>
                    </br>
                        <h6>Add a comment:</h6>
                        <form method="POST" action="/comments/cookbook">                        
                            <input style="color:white" type="text" id="content" name="content" required> 
                            <input type="hidden" name="userId" value="<%= s.userId %>">
                            <input type="hidden" name="recipeId" value="<%= s.id %>">
                            <button style="margin: 5px;" class="btn btn-primary #bf360c deep-orange darken-4" type="submit" ><i class="material-icons center">add_circle_outline</i></button>                         
                        </form>
                      </div>       
                    <form method="POST" action="/client/cookbook/<%= s.id %>?_method=DELETE">
                        <button style="margin: 5px;" class="btn btn-primary #bf360c deep-orange darken-4" type="submit" value="Delete"><i class="material-icons center">delete</i></button>
                    </form> 
                    <% }) %>
                    <% } %>      
                    
                
         </div>
    </div>
</div>


